/FeatGeneration/Amazon/*
#/FeatGeneration/MovieLens-1M/*
/FeatGeneration/MovieLens-1M/sample_base.csv
/.DS_Store
/.idea/*
/FeatGeneration/.DS_Store
/FeatGeneration/MovieLens-1M/ui_sample_base.csv
/FeatGeneration/MovieLens-1M/ui_sample_gift.csv
/FeatGeneration/MovieLens-1M/ui_sample_gift_new.csv
/FeatGeneration/MovieLens-1M/gift_df.csv
/FeatGeneration/DBook/DBook_test.ipynb