/FeatGeneration/Amazon/*
#/FeatGeneration/MovieLens-1M/*
/FeatGeneration/MovieLens-1M/sample_base.csv
/.DS_Store
/.idea/*
/FeatGeneration/.DS_Store
/FeatGeneration/MovieLens-1M/ui_sample_base.csv
/FeatGeneration/MovieLens-1M/ui_sample_gift.csv
/FeatGeneration/MovieLens-1M/ui_sample_gift_new_train.csv
/FeatGeneration/MovieLens-1M/ui_sample_gift_new_test.csv
/FeatGeneration/MovieLens-1M/ui_sample_gift_full_train.csv
/FeatGeneration/MovieLens-1M/gift_df.csv
/FeatGeneration/DBook/DBook_test.ipynb
/FeatGeneration/DBook/gift_df.csv
/FeatGeneration/DBook/ui_sample_gift.csv
/FeatGeneration/DBook/ui_sample_gift_new.csv
/FeatGeneration/DBook/ui_sample_gift_new_train.csv
/FeatGeneration/DBook/ui_sample_gift_new_test.csv
/FeatGeneration/DBook/ui_sample_gift_full_train.csv
/Train/DBook_GIFT/save_log/*